<h1> <%= @day.date.strftime("%D") %> </h1>

<ul>
  <% @day.meetings.where(title: nil).order('id asc').each do |meeting| %>
     <li><%= link_to meeting.display, edit_day_meeting_path(@day, meeting) %></li>
     <% end %>
</ul>